/* ===================== */
/* Sección: Estilos Generales */
/* ===================== */

body {
  background-color: #f2f2f2; /* Gris claro */
  /*font-family: "Lato", sans-serif;*/
}

.bg-custom {
  background-color: #004d40;
}

/* ===================== */
/* Sección: Header y Navegación */
/* ===================== */

.logo-text,
.sinopsis-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.dropdown-menu {
  background-color: rgba(0, 50, 40, 0.9);
}

.dropdown-item {
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Ligera sombra en hover */
  color: #ffffff;
}

.navbar .navbar-brand,
.navbar .nav-link,
.footer p {
  color: #ffffff !important;
}

.navbar-nav .nav-link {
  position: relative;
  padding: 10px 15px;
}

.navbar-nav .nav-link::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0; /* Posiciona la barrita en la parte inferior del enlace */
  left: 0;
  width: 0%; /* Ancho inicial de la barrita */
  transition: width 0.3s ease-in-out; /* Transición suave para el ancho */
}

.navbar-nav .nav-link:hover::before {
  width: 100%; /* La barrita se expande al ancho del enlace al hacer hover */
}

/* ===================== */
/* Sección: carousel */
/* ===================== */

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%; /* Se redondea los indicadores*/
  background-color: rgba(255, 255, 255, 0.5);
}

/*////////////////////*/
/* Sección: Cards de libros en pantalla de categorias */
/*///////////////////*/

.card {
  background-color: #f2f2f2;
  border: none;
}

.card-img-top {
  height: 250px;
  object-fit: contain; /* Ajusta la imagen sin recortarla */
}

.card-title {
  min-height: 45px;
}

.subtitulo-home {
  font-size: xx-large;
}

/* ===================== */
/* Sección: Datos y boton "Comprar" en pagina de detalles */
/* ===================== */
.details-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #004d40;
  font-size: 1.5rem;
}

.details-text {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.btn-purchase {
  background-image: linear-gradient(135deg, #004d40, #00695c);
  color: #ffffff;
  border: none;
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-image 0.3s ease, transform 0.2s ease;
}

.btn-purchase:hover {
  background-image: linear-gradient(135deg, #00695c, #004d40);
  color: #ffffff;
  transform: translateY(-2px);
}

.btn-purchase:active {
  background-image: linear-gradient(135deg, #004d40, #003d34);
  color: #ffffff !important;
  transform: translateY(0);
}

/* ===================== */
/* Sección: Boton agregar a favoritos */
/* ===================== */

.icon-add-favorites {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon-add-favorites:focus {
  outline: none;
}

.icon-add-favorites svg {
  color: #004d40;
}

.icon-add-favorites:hover {
  background-color: #e0f2f1;
}

/* ===================== */
/* Sección: Barra divisora */
/* ===================== */

.divider {
  border-top: 1px solid #ccc;
  margin: 40px 0; /* Espacio superior e inferior */
}

/* ===================== */
/* Sección: sinopsis */
/* ===================== */

.sinopsis-title {
  font-family: "Playfair Display", serif;
  color: #004d40;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

p.sinopsis-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}
